<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title choc-chip | javascript task processor
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
    link(rel="stylesheet", href="./plugin/plugin.min.css")
    link(rel="stylesheet", href="./style/style.css")
  body
    .pattern
    figure.logo
      img(src="./assets/images/utils/logo.png", alt="choc-chip")
      figcaption Choc Chip
        span V 1.2.1 DEMO
    p high performance javascript task processor for front-end development
    ul.list-group
      li
        a.btn.btn-primary(href="https://github.com/KrYP70N/choc-chip/archive/v-1.2.1.zip", download) Download
      li
        a.btn.btn-primary(href="https://github.com/KrYP70N/choc-chip/tree/v-1.2.1") Github
    script(src="./js/script.js")