$color-primary: #ff6600;
$color-secondary: #333;
$color-light: #fff;
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $color-secondary;
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 50px;
      margin-right: 15px;
    }
    figcaption {
      color: $color-light;
      font-size: 28px;
      display: flex;
      flex-direction: column;
      font-weight: lighter;
      span {
        font-size: 16px;
      }
    }
  }
  .list-group {
    display: flex;
    list-style: none;
    flex-direction: row;
    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btn-primary {
    background: $color-primary;
    border: none;
    width: 100px;
    &:hover,
    &:focus,
    &:active {
      background: rgba($color-primary, $alpha: 0.5)!important;
      box-shadow: none!important;
      outline: none!important;
    }
  }
}